/*global*/

/*utilities*/

/*header*/
header.site-header{
    display: flex;
    justify-content:space-between;
    height:40vh;
    background-image: url(https://www.seat.mx/content/countries/mx/seat-website/es/servicio/accesorios-originales/seat-pets/_jcr_content/par/twocolumns_330270530_36697074/twocolumnsimage.resizedViewPort.noscale.assetRootS.jpg);
    background-position: center center;
    background-size: cover;
}

main{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
/*register form*/
.form-container h2{

}
.form-container div{
    margin-bottom: 1rem;

}

.pets{
    display: flex;
    justify-content:space-between;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;

}

.pet{
    border: 3px solid black;
    padding:10px;
}

.highlight{
    background-color:grey;
}

.buttons{
    display:flex;
    justify-content:space-around;
}

.info{
    background-color:rgb(91, 91, 150);
    color:yellow;
}